body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



h1 {
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

p {
    font-size: 1.1em;
    margin-bottom: 20px;
    color: #555;
}

strong {
    color: #333;
}